@charset "utf-8";
*{ margin:0; padding:0}
html{ width:100%; height:100%; -webkit-font-smoothing:antialiased; -webkit-overflow-scrolling:touch; -moz-overflow-scrolling:touch; -o-overflow-scrolling:touch; overflow-scrolling:touch}
body{ color:#535353; background:#f2f2f2; width:100%; height:100%; position:relative; font-size:14px; font-family:'arial', 'MicroSoft YaHei'}
a{ text-decoration:none; color:#666; font-size:14px; font-family:'arial', 'MicroSoft YaHei'}
a, body{ font-family:'MicroSoft YaHei'/9; -webkit-tap-highlight-color:rgba(0,0,0,0)}
img{ border:0}
ol, ul, li{ list-style:none}
input, textarea{-webkit-appearance:none; outline:none; resize:none;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{ -webkit-text-size-adjust:none}
.fl{ float:left}
.fr{ float:right}
.clear{ clear:both}
.wrap{ background:#fff; margin:10px 8px 0 8px;}
.a_green{ color:#64C400;}
.a_grey{ color:#aaa;}

.top{ height:28px; font:bold 14px/28px ''; background:#444; color:#fff; padding:8px; overflow:hidden;}
.top img{ width:28px; height:28px; margin-right:10px; float:left;}
.btn_top{ font:bold 14px/28px ''; background:#FF9900; color:#fff; padding:0 9px; float:right;}
.search{ height:35px; background:#E9EAED; padding:12px 8px;}
.sear_txt{ width:76%; height:35px; background:#fff; font:normal 14px/35px 'MicroSoft YaHei'; color:#666; border:none; padding:0 2%;}
.sear_btn{ width:20%; height:35px; background:#64C400; font:bold 14px/35px 'MicroSoft YaHei'; color:#fff; text-align:center; border:none;}
.menu{ padding:10px 8px 0 8px;}
.menu table{ width:100%; border-collapse:collapse; background:#fff;}
.menu td{ width:25%; height:40px; font:normal 16px/40px ''; border:1px solid #E9E9E9; text-align:center;}
.menu td a{ color:#666; display:block;}
.menu td i{ width:25px; height:20px; background:url(../images/menu.png) no-repeat; background-size:20px 200px; display:inline-block; vertical-align:middle;}
.menu td i.m01{ background-position:0 0;}
.menu td i.m02{ background-position:0 -20px;}
.menu td i.m03{ background-position:0 -40px;}
.menu td i.m04{ background-position:0 -160px;}
.menu td i.m05{ background-position:0 -80px;}
.menu td i.m06{ background-position:0 -100px;}
.menu td i.m07{ background-position:0 -120px;}
.menu td i.m08{ background-position:0 -140px;}

.tit{ height:20px; padding:10px 0; overflow:hidden;}
.tit b{ border-left:3px solid #64C400; font:normal 16px/20px ''; padding-left:8px; float:left;}
.tit span{}
.tit span a{ font:normal 14px/20px ''; margin:0 10px;}
.span_bq{ width:80%; height:20px; display:inline-block; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; position:relative; z-index:9;}
.span_bq .fr{ position:relative; z-index:99;}
.span_bq a{ color:#aaa; border-bottom:1px dashed #aaa;}
.list_app li{ border-top:1px solid #E9E9E9; position:relative;}
.list_app .alist{ display:block; height:60px; padding:12px;}
.list_litpic{ width:60px; height:60px; overflow:hidden}
.list_litpic img{ width:60px; height:60px}
.list_info{ height:60px; margin-left:70px;}
.list_info h1{ height:20px; font:normal 14px/20px 'MicroSoft YaHei'; color:#646464; display:block; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.list_info p{ height:20px; font:normal 12px/20px 'MicroSoft YaHei'; color:#aaa; overflow:hidden;}
.list_info p span{ color:#64C400; padding-right:12px;}
a.btn{ width:60px; height:30px; background:#64C400; color:#fff; font:normal 12px/30px ''; text-align:center; position:absolute; top:26px; right:12px;}
.more{ line-height:40px; border-top:1px solid #E9E9E9; text-align:right; padding:0 10px;}
.more a{ display:block;}
.list_gba{}
.list_gba li{ height:40px; line-height:40px; border-top:1px solid #E9E9E9; padding:0 12px; overflow:hidden;}
.list_gba li a{ overflow:hidden;}
.list_gba li em a{ font-style:normal; color:#3DAB26; margin-right:12px;}
.list_gba li em a.orange_a{ color:#FF9900;}
.list_team{ border-top:1px solid #E9E9E9; overflow:hidden;}
.list_team li{ width:20%; margin:4% 0 4% 4%; text-align:center; float:left;}
.list_team li img{ width:60px; height:60px;}
.list_team li p{ height:20px; line-height:20px; padding-top:10px; overflow:hidden;}
.bz{ text-align:center; padding:15px; border-top:1px solid #E9E9E9;}
.bz img{ width:100%;}
.list_ring{ overflow:hidden; border-top:1px solid #E9E9E9;}
.list_ring li{ width:40%; height:40px; line-height:40px; background:url(../images/icon_ring.png) left no-repeat; background-size:10px 10px; border-bottom:1px dotted #ddd; padding-left:5%; margin:0 2.5%; float:left; overflow:hidden;}
.foot{ background:#444; font:normal 12px/25px ''; color:#aaa; text-align:center; margin-top:15px;}
.foot em{ font-style:normal; padding:0 10px;}
.foot a{ font-size:12px; color:#fff; margin:0 10px;}
.finner{ border-top:1px solid #515151; padding:10px 0;}

/*list*/
.search_list{ background:#E9EAED; padding:12px 8px; overflow:hidden;}
.s_return{ width:10%; background:url(../images/icon_return.png) left no-repeat; background-size:20px 20px; height:35px; float:left;}
.s_return a{ height:35px; display:block;}
.s_search{ width:90%; float:left;}

/*page*/
.page{ border-top:1px solid #E9E9E9; text-align:center; padding:15px;}
.no_click{ color:#bbb;}

/*info*/
.top_tit{ width:80%; height:35px; font:normal 16px/35px ''; float:left; overflow:hidden;}
.search_btn{ width:10%; height:35px; background:url(../images/icon_search.png) center no-repeat; background-size:20px 20px; display:block; float:right;}
.detail_top{ padding:15px; overflow:hidden;}
.de_pic img{ width:68px; height:68px;}
.de_info{ padding-left:80px;}
.de_info h1,.th_info h1{ font:normal 16px/28px '';}
.de_info p,.th_info p{ font:normal 12px/20px ''; color:#aaa;}
.de_zan{ background:url(../images/icon_heart.png) left no-repeat; background-size:15px 15px; padding-left:20px;}
.down_btn{ border-top:1px solid #E9E9E9; padding:15px; overflow:hidden;}
.down_gs,.down_xz{ height:40px; font:normal 14px/40px ''; color:#fff; text-align:center; display:inline-block;}
.down_gs{ width:65%; background:#f90;}
.down_xz{ width:30%; background:#fafafa; color:#ccc;}
.t_zk{ width:40px; height:20px; background:url(../images/updown.png) no-repeat; display:inline-block; float:right;}
.t_sq{ height:20px; background:url(../images/updown.png) right -20px no-repeat; display:block;}
.section_h1{ font:normal 16px/30px ''; text-align:center; padding:10px;}
.section{ font:normal 14px/24px ''; border-top:1px solid #E9E9E9; color:#999; padding:12px 10px;}
.section img{ width:80%; margin:10px 10%;}

.fkb{ padding:10px 10px 0 10px; border-top:1px solid #E9E9E9;}
.fkb table{ width:100%; line-height:24px; border-collapse:collapse;}
.fkb th{ border-top:1px solid #E9E9E9; font-weight:normal; color:#999; text-align:left; background:#F7F7F4; padding:5px 0 5px 10px; white-space:nowrap;}
.fkb td{ border-top:1px solid #E9E9E9; padding:8px 0 8px 10px;}
.fkb td em,.fkb td b,.fkb td span{ height:24px; overflow:hidden; display:inline-block;}
.fkb td em{ font-style:normal; color:#f66;}
.fkb td b{ font-weight:normal; color:#09f;}
.btn_kfb{ width:60px; height:24px; font:normal 12px/24px ''; background:#64C400; color:#fff; text-align:center; display:inline-block;}

.hot_word{ border-top:1px solid #E9E9E9; color:#ddd; padding:10px;}
.hot_word a{ font:normal 14px/25px ''; color:#999; margin:4px 9px; display:inline-block;}
.hot_word a.a_green{ color:#64C400;}
.sear_word{}
.sear_word li{ border-top:1px solid #E9E9E9; padding-left:15px;}
.sear_word a{ font:normal 14px/40px ''; color:#999;}
.sw_close{ width:40px; height:40px; background:url(../images/icon_close.png) no-repeat; background-size:40px 40px; float:right;}
.sear_clear{ border-top:1px solid #E9E9E9; font:normal 14px/40px ''; text-align:center;}
.sear_clear a{ display:block;}

.rom_zt{ border-top:1px solid #E9E9E9; padding:5px;}
.rom_zt table{ width:100%;}
.rom_zt td{ padding:5px;}
.rom_zt td img{ width:100%;}

.zt_list{}
.zt_list li{ background:#f2f2f2; padding-bottom:10px;}
.zt_list li img{ width:100%;}
.zt_list li p{ height:40px; background:#fff; font:normal 14px/40px ''; padding:0 15px;}
.zt_info{}
.zt_info img{ width:100%;}
.zt_info p{ font:normal 14px/25px ''; padding:10px;}

.list_bz,.list_theme{ border-top:1px solid #E9E9E9; padding-bottom:15px; overflow:hidden;}
.list_bz li{ width:44%; text-align:center; padding:4% 0 0 4%; float:left;}
.list_bz li img{ width:100%;}
.list_bz li p,.list_theme li p{ height:20px; font:normal 14px/20px ''; padding-top:5px; overflow:hidden;}
.detail_bz{ padding:5px;}
.detail_bz img,.list_theme li img{ width:100%;}

.list_theme li{ width:28%; text-align:center; padding:4% 0 0 4%; float:left;}
.de_theme img{ width:90px; height:150px;}
.th_info{ padding-left:105px}
.th_info .down_btn{ border:none; padding:30px 0 0 0; overflow:hidden;}

.pl_box{ border-top:1px solid #E9E9E9;}
.pl{ border:1px solid #E9E9E9; margin:10px;}
.txt_pl{ width:96%; height:30px; line-height:30px; border:none; padding:2px 2%;}
.de_pl{ height:30px; border-top:1px solid #E9E9E9;}
.a_zan,.a_zanred{ height:30px; border-right:1px solid #E9E9E9; background:url(../images/icon_heart_grey.png) left no-repeat; background-size:20px 20px; line-height:30px; padding:0 10px 0 25px; margin-left:5px; display:inline-block; float:left;}
.a_zanred{ background:url(../images/icon_heart.png) left no-repeat; background-size:20px 20px;}
.btn_pl{ height:30px; font:normal 14px/30px 'MicroSoft YaHei'; background:#64C400; color:#fff; border:none; padding:0 10px; float:right;}

.pl_nr{ border-top:1px solid #E9E9E9;}
.pl_nr p{ font:normal 12px/20px ''; padding:10px;}
.pl_nr p.pl_info{ border-top:1px dotted #E9E9E9; color:#aaa;}
.pl_nr p.pl_info b{ width:20px; height:20px; background:url(../images/icon_heart_grey.png) no-repeat; background-size:20px 20px; display:inline-block; vertical-align:middle;}
.pl_nr p.pl_info b.red_heart{ background:url(../images/icon_heart.png) no-repeat; background-size:20px 20px;}

.gs_load{ text-align:center; line-height:40px; border-top:1px solid #E9E9E9; padding:5px 0 15px 0;}

.jt_box{ width:100%; height:200px; border-top:1px solid #E9E9E9; padding:10px 0; overflow:hidden}
.jt_box ul{ height:200px;}
.jt_box li{ float:left; height:200px; margin-right:10px;}
.jt_box li img{ height:200px;}